<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ApplicationName" value="MS DevShow - Brand Image Generator" />
   
    <!-- 
      ****************************************************************************
      BrandBaseImage should be a 600x300 image that contains a location for 
      a 210x210 square 20px from the left edge, centered vertically 
      ****************************************************************************
    -->
    <add key="BrandBaseImage" value="\Brand.jpg"/>
    <!--<add key="BrandBaseImage" value="D:\dev\BrandImageGenerator\BrandImageGenerator\bin\Debug\Brand.jpg"/>-->

    <!-- 
      ****************************************************************************
      BrandColor can be any string that can be resolved by ColorConverter.ConvertFromString()
      Hex colors work perfectly.
      ****************************************************************************
    -->
    <add key="BrandColor" value="#329FD9"/>

    <!-- 
      ****************************************************************************
      Twitter* Keys: go to https://apps.twitter.com/ to generate keys to enter here.
      Note: These are visible on the Keys and Access Tokens tab
      ****************************************************************************
    -->
    <add key="TwitterConsumerKey" value="" />
    <add key="TwitterConsumerSecret" value="" />
    <add key="TwitterToken" value="" />
    <add key="TwitterTokenSecret" value="" />
  </appSettings>
</configuration>